
<div class="main">
  <div class="banner">
    <div class="banner__tittle">
      Expense Tracker
    </div>
  </div>
  <div class="transaction">
    <div class="transaction__tittle">
      <div class="transaction__p">
        <p>Transaction</p>
      </div>
    </div>
    <div class="transaction__form">
      <mat-form-field appearance="standard">
        <mat-label>Transaction</mat-label>
        <input matInput placeholder="Transaction">
        <mat-icon matSuffix>shopping_bag</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Amount</mat-label>
        <input matInput type="tel" placeholder="Amount">
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Date</mat-label>
        <input matInput type="date" placeholder="Date">
        <mat-icon matSuffix>calendar_month</mat-icon>
      </mat-form-field>
    </div>
    <div class="transaction__btn">
      <button mat-raised-button class="btn__addTransaction">Add Transaction</button>
    </div>
  </div>
  <div class="transaction__table">
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">#</div>
          <div class="col col-2">Transaction</div>
          <div class="col col-3">Amount</div>
          <div class="col col-4">Date</div>
        </li>
        <li class="table-row">
          <div class="col col-1" data-label="Job Id">1</div>
          <div class="col col-2" data-label="Customer Name">Cine</div>
          <div class="col col-3" data-label="Amount">$350</div>
          <div class="col col-4" data-label="Payment Status">09-09-22</div>
        </li>
      </ul>
    </div>
  </div>
</div>


