
<div class="main">
  <div class="banner">
    <div class="banner__tittle">
      Expense Tracker
    </div>
  </div>
  <div class="transaction">
    <div class="transaction__tittle">
      <div class="transaction__p">
        <p>Transaction</p>
      </div>
    </div>
    <div class="transaction__form">
      <form [formGroup]="form">
        <mat-form-field appearance="standard">
          <mat-label>Transaction</mat-label>
          <input matInput formControlName="transactionName" placeholder="Transaction">
          <mat-icon matSuffix>shopping_bag</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <input matInput formControlName="transactionDescription" placeholder="Transaction">
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="transactionAmount" type="tel" placeholder="Amount">
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Date</mat-label>
          <input matInput formControlName="transactionDate" type="date" placeholder="Date">
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="transaction__btn">
      <button mat-raised-button class="btn__addTransaction" (click)="postTransaction()">Add Transaction</button>
    </div>
  </div>
  <div class="transaction__table">
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">#</div>
          <div class="col col-2">Transaction</div>
          <div class="col col-3">Amount</div>
          <div class="col col-4">Date</div>
        </li>
        <li class="table-row" *ngFor="let item of transactions">
          <div class="col col-1" data-label="Job Id">{{item.idTransaction}}</div>
          <div class="col col-2" data-label="Customer Name">{{item.transactionName}}</div>
          <div class="col col-3" data-label="Amount">${{item.transactionAmount}}</div>
          <div class="col col-4" data-label="Payment Status">{{item.transactionDate}} </div>
        </li>
      </ul>
    </div>
  </div>
</div>


